* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: #454545;
    background: #FCFCFC;
    font-family: 'Raleway', sans-serif;
    
}

.nav-container {
    max-width: 90%;
    margin: auto;
}

.nav-top {
    padding: 15px 0;
    background: #FCFCFC;
}

.nav-logo {
    height: 5vh;
    width: 150px;
}

.link-search a img {
    height: 20px;
    width: auto;
}

.vh-container {
    height: 100vh;
    width: 100%;
}

footer {
    background: #454545;
    height: 100vh;
    width: 100%;
}

footer .container {
    max-width: 90%;
    margin: auto;
}

.input-email {
    width: 95%;
    margin: auto;
}

.subscribe-label {
    font-style: normal;
    color: #D0D0D0;
}

.input-email input {
    width: 100%;
}

.input-email button {
    position: absolute;
    right: 0;
    height: 70px;
    background: #FF5D5D;
    color: #fff;
    font-size: 25px;
    width: 400px;
    border-radius: 72px;
    font-weight: 400;
    letter-spacing: .15em;
}

.input-email .input {
    height: 70px;
    padding: 20px 30px;
    border-radius: 72px;
}

.input-email .input:focus {
    border: none;
    outline: none;
}

footer p {
    color: #C0C0C0;
}

footer h4 {
    color: #EEEEEE;
}

footer ul li p {
    font-size: 23px;
}

.container1 img {
    width: 300px;
    height: auto;
}

.footer-links {
    position: relative;
}

.footer-span {
    color: #5c5c5c;
    font-size: 18px;
}

.footer-links::after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background: #4F4F4F;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-up img {
    height: 25px;
    width: auto;
}