* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #454545;
    background: #FCFCFC;
}

.nav-container {
    max-width: 90%;
    margin: auto;
}

.nav-top {
    padding: 15px 0;
    background: #FCFCFC;
}

.nav-logo {
    height: 5vh;
    width: 150px;
}

.link-search a img {
    height: 20px;
    width: auto;
}

.vh-container {
    height: 100vh;
    width: 100%;
}

footer {
    background: #454545;
    height: 100vh;
    width: 100%;
}

footer .container {
    max-width: 90%;
    margin: auto;
}

.input-email {
    width: 90%;
    margin: auto;
}

.subscribe-label {
    color: #fff;
}

.input-email input {
    width: 100%;
}

.input-email button {
    position: absolute;
    right: 0;
    color: red;
}