* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: #454545;
    background: #FCFCFC;
    font-family: 'Raleway', sans-serif;
    
}

.container {
    max-width: 90%;
    margin: auto;
}

.nav-container {
    max-width: 90%;
    margin: auto;
}

.nav-top {
    padding: 15px 0;
    background: #FCFCFC;
}

.nav-logo {
    height: 5vh;
    width: 150px;
}

.nav-links .link {
    position: relative;
    color: #A9A9A9;
    transition: 0.3s ease;
}

.nav-links .link:hover, .active {
    color: #454545 !important;
}

.nav-links .link a::after, .active {
    content: "";
    position: absolute;
    background: red;
    height: 2px;
    width: 0;
    right: 0;
    bottom: -5px;
    transition: 0.2s ease-in-out;
}

.line {
    background: #454545;
}

.link:hover a::after {
    width: 25px;
}

.link-search a img {
    height: 20px;
    width: auto;
    opacity: 0.4;
    transition: 0.2s ease-in-out;
}

.link-search:hover a img {
    opacity: 1;
}

.vh-container {
    width: 100%;
    height: auto;
    /* line-height: 88px; */
}

.section-hero {
    /* margin-top: 10vh; */
    height: 100vh;
}

.hero-text {
    font-size: 65px;
}

.hero-subtext {
    font-size: 25px;
}

.hero-button {
    border: 2px solid #FF5D5D;
    padding: 15px 95px;
    color: #FF5D5D;
    border-radius: 300px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    transition: 0.2s ease;
}

.hero-button:hover {
    background: #FF5D5D;
    color: #fff;
}

.item-box {
    right: -5%;
    bottom: 5%;
    animation: bounce-box 4s infinite;
}

@keyframes bounce-box {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 3rem;
    }
    100% {
        bottom: 0;
    }
}

.item-human-table {
    padding-left: 5em;
}

.item-chair {
    left: -7%;
    bottom: 10%;
    z-index: -1;
    animation: bounce-chair 5s infinite;
}

@keyframes bounce-chair {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 5rem;
    }
    100% {
        bottom: 0;
    }
}



.item-report {
    right: 0;
}

.section-header, .section-header-negative {
    position: relative;
    width: max-content;
    /* margin: 8rem auto; */
}

.section-header-negative {
    color: #fff;
}

.section-header p::after, .section-header-negative p::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -10px;
    height: 2px;
    width: 50%;
}

.section-header-negative p::after {
    background: #454545 !important;
}

.section-header p::after {
    background: #FF5D5D;
}

.project-list .project-items {
    overflow: hidden;
    background: #000;
}

.project-list .project-items img.w-full {
    height: 100%;
    opacity: 1;
    transition: 0.4s ease;
}

.project-items .project-name, .project-items .project-date, .project-items .project-statistics {
    opacity: 0;
}

.project-items .project-name {
    transition: 0.4s ease;
}

.project-items .project-date {
    transition: 0.4s ease;
    transition-delay: 0.1s;
}

.project-items .project-statistics {
    transition: 0.4s ease;
    transition-delay: 0.2s;
}

.project-list .project-items:hover img.w-full {
    transform: scale(1.1);
    opacity: 0.4;
}

.project-items:hover .project-name, .project-items:hover .project-date, .project-items:hover .project-statistics {
    opacity: 1;
}

.project-name {
    bottom: 20%;
    left: 20px;
}

.project-date {
    bottom: 15%;
    left: 20px;
    font-size: 13px;
}

.project-statistics {
    bottom: 5%;
    width: 30%;
    left: 20px;
}

.icon-stats {
    align-self: center;
    height: 18px !important;
    width: auto !important;
}

.section-clients {
    height: auto;
}

.svg-container {
    height: 25rem;
    width: 25rem;
    background: rgba(255, 93, 93, 0.09);
    border-radius: 50%;
    margin: auto;
}

.item-folder {
    top: -5em;
    left: 10em;
}

.item-statistics {
    top: 30%;
    transform: translateY(-50%);
    left: 18em;
}

.item-email {
    top: 55%;
    left: 23em;
}

.item-file {
    bottom: -15%;
    left: 13em;
}

.card-comment {
    line-height: 20px;
}

.client-name {
    font-size: 30px;
}

.client-position {
    color: #9A9A9A;
}

.client-company {
    color: #FF5D5D;
}

.client-happy-tag {
    color: #fff;
    padding: 8px 12px;
    border-radius: 50px;
    background: #62D767;
}

.section-partners {
    background: #FF5D5D;
}


.section-contact {
    background-image: url(../public/img/img-contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.contact-form {
    z-index: 2 !important;
    background: #FF5D5D;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.contact-form .contact-info {
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}


.section-contact::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background:  linear-gradient(304.42deg, #000000 -31.33%, rgba(0, 0, 0, 0.08) 99.3%)
}


.contact-form input:focus, .contact-form textarea:focus {
    border: none;
    outline: none;
}

.contact-input::placeholder, .contact-area::placeholder {
    color: #fff;
    font-size: 18px;
}

.contact-input, .contact-area {
    background: transparent;
    font-size: 18px;
    color: #fff;
}

.contact-input {
    border-bottom: 2px solid #fff !important;
    height: 45px;
}

.contact-area {
    padding: 15px;
    border: 2px solid #fff !important;
}

.contact-invitation {
    left: 10%;
    bottom: 13%;
    z-index: 2;
}

footer {
    background: #454545;
    height: 100vh;
    width: 100%;
}

footer .container {
    max-width: 90%;
    margin: auto;
}

.input-email {
    width: 95%;
    margin: auto;
}

.subscribe-label {
    font-style: normal;
    color: #D0D0D0;
}

.input-email input {
    width: 100%;
}

.input-email button {
    position: absolute;
    right: 0;
    height: 70px;
    background: #FF5D5D;
    color: #fff;
    font-size: 25px;
    width: 400px;
    border-radius: 72px;
    font-weight: 400;
    letter-spacing: .15em;
}

.input-email .input {
    height: 70px;
    padding: 20px 30px;
    border-radius: 72px;
}

.input-email .input:focus {
    border: none;
    outline: none;
}

footer p {
    color: #C0C0C0;
}

footer h4 {
    color: #EEEEEE;
}

footer ul li p {
    font-size: 23px;
}

.container1 img {
    width: 300px;
    height: auto;
}

.footer-links {
    position: relative;
}

.footer-span {
    color: #5c5c5c;
    font-size: 18px;
    padding: 20px;
}

.footer-links::after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background: #4F4F4F;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-up img {
    height: 25px;
    width: auto;
}